---
import Layout from "../layouts/Layout.astro";
---

<Layout title="This shit is a test">
  <h1>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis,
    asperiores numquam distinctio sit assumenda itaque praesentium alias minima
    exercitationem adipisci possimus quam fugiat nulla ea corrupti impedit enim
    minus quasi.
  </h1>
  <script>
    const number = function () {
      console.log("putadon");
    };
    number();
  </script>
</Layout>
